# Files to ignore for export
.gitlab-ci.yml export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.gitmodules export-ignore
/docs/tutorial export-ignore
/library/Demos/MultiRegions/ExtraDemos/ export-ignore
/solvers/ImageWarpingSolver/ export-ignore
/solvers/VortexWaveInteraction/ export-ignore
/solvers/CardiacEPSolver/Utilities/CellMLToNektar/ export-ignore
/solvers/IncNavierStokesSolver/Utilities/HybridPerformanceModel/ export-ignore
/utilities/Extras/ export-ignore

# Attempt union merges with CHANGELOG to avoid conflicts.
CHANGELOG.md merge=union
