	html {
	  min-height: 101%; 
	}
    body {
      font: 100% Verdana, Arial, Helvetica, sans-serif;
      background: #FFFFFF;
      margin: 0;
	  padding: 0;
	  text-align: center;
	  color: #000000;
    }
    .twoColHybLt #container {
	  //max-width: 90em;
	  max-width: 60em;
	  width: 99%;
      background: #FFFFFF;
      margin: 0 auto;
      text-align: left;
    }
    .twoColHybLt #sidebar1 {
	float: left;
	width: 13.7em;
	background: #EBEBEB;
	border: 1px solid #000000;
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 15px;
	padding-left: 0;
    }
    .twoColHybLt #sidebar1 h3, .twoColHybLt #sidebar1 p {
      margin-left: 10px;
      margin-right: 10px;
    }
    .twoColHybLt #mainContent {
	margin-top: 0;
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 14.5em;
    }
    .fltrt {
      float: right;
      margin-left: 8px;
    }
    .fltlft {
      float: left;
      margin-right: 8px;
    }
    .clearfloat {
      clear:both;
      height:0;
      font-size: 1px;
      line-height: 0px;
    }
    img {
      border:0;
    }
	h1,h2,h3 {
	  margin-bottom: 0;
	}
	li {
	   margin-top: 0.5em;  
	}
div.code {
    font-family: "DejaVu Sans Mono", monospaced;
    font-size: 1em;
    background-color: #EEE;
    border: 1px solid #BBB;
    overflow: auto;
    padding: 0;
    margin: 0.7em 0.7em 0.7em 0.7em;
  }

div.code pre {
    padding: 5px;
    margin: 5px;
  }
div.source {
 font-family:"Courier New",Courier,monospace; 
font-size:13.4px; 
color:#0000C0; 
background-color:#FFFFE0; 
border:10px solid #EEEEEE; 
padding:10px; 
white-space:pre; 
    overflow: auto;
margin: 5px
  }

div.source pre {
    padding: 5px;
    margin: 5px;
  }
div.sourceexample {
 font-family:"Courier New",Courier,monospace; 
font-size:13.4px; 
color:#0000C0; 
background-color:#FFFFE0; 
border:10px solid #DDFFDC; 
padding:10px; 
white-space:pre; 
    overflow: auto;
margin: 5px
  }

div.sourceexample pre {
    padding: 5px;
    margin: 5px;
  }
.latexfont{font-family: "Computer Modern", monospaced;
  }
.latexfontbold{font-family: "Computer Modern", monospaced;
         font-weight: bold;
  }
.latexfontitalic{font-family: "Computer Modern", monospaced;
         font-style: italic;
  }
tbody.border {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
table.border {
  caption-side: bottom;
  border-spacing: 8px 4px;
  border: 2px solid black;
}
table.image { margin-left: 2em }
caption.border {
  margin: 0;
  padding: 1em 0;
  text-align: center;
font-size: 80%;
}
td.border{
  border-right: 2px solid black;
}
td.caption
{
  font-size: 80%;
  font-family: Verdana, Arial, sans-serif;
  text-align: center;
}
th.border{
  border-right: 2px solid black;
}
code{
  font-size: 1.1em;
}
code.source{
  font-size: 1.1em;
  color:#0000C0;
}